<% content_for :header do %>
  <h1>Contacts</h1>
<% end %>

<% content_for :nav do %>
  <ul class="no-padding nav">
    <li class="tile menu-button bold float-right">
      <a class="button-pad" href="#">Log Out</a>
    </li>
  </ul>
<% end %>

<ul class="no-padding">
  <% @contacts.each do |nick_name, _| %>
    <li class="tile">
      <a class="tile-pad" href="/contacts/<%= nick_name %>"><%= nick_name %></a>
    </li>
  <% end %>

  <li class="tile">
    <a class="tile-pad bold" href="/contacts/add">+ Add Contact</a>
  </li>
</ul>