<html>
<head>
  <title>Your Contacts</title>
  <link rel="stylesheet" type="text/css" href="/stylesheets/style.css">
</head>
<body>
  <div class="header">
    <%== yield_content :header %>
  </div>


  <div class="primary-content">

    <div class="nav">
      <%== yield_content :nav %>
    </div>

    <%== yield %>
  </div>
</body>
</html>