<% content_for :header do %>
  <h1>Login</h1>
<% end %>

<form action="/login" method="post">
  <input class="text-align-center" name="user_name" placeholder="User Name">
  <input class="text-align-center" name="password" placeholder="Password">
  <button class="tile tile-pad bold">Login</button>
</form>
<form action="/signup" method="get">
  <span class="tag">Dont' have a user?</span>
  <button class="tile tile-pad bold">Sign up</button>
</form>